/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  Custom */

body {
    font-family: 'Open Sans';
}
.home-body {
    background-image: linear-gradient(to bottom, rgba(90, 90, 61, 0.5), rgba(93, 93, 128, 0.5)),
    url("../media/banner.jpg");
    background-size: 100% 500px;
    background-repeat: no-repeat;
}
/*  Header Styles */

.header {
    background-color: white;
    width: 80%;
    margin: 5px auto;
    position: sticky;
    text-transform: uppercase;
    left: 30px;
    right: 30px;
    top: 0;
}
.logo-anchor {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgba(219, 71, 26, 0.822);
}
.logo-image {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.nav-bar {
    margin: 0 10px;
}
.nav-bar a {
    text-decoration: none;
    color: rgba(15, 14, 14, 0.808);
    font-weight: 400;
    font-size: 14px;
    margin: 0 10px;
}
.active{
    color: red;
}

/*  First Section Styles */
.hero {
    width: 100%;
    text-align: center;
   
}
.hero-container {
    width: 26%;
    margin: 12% auto;
}
.hero-container h1 {
    font-size: 32px;
    font-weight: 600;
    color: white;
    line-height: 1.5;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}
.hero-container h2 {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
}
.hero-btn {
    background-color: red;
    color: white;
    border: 0;
    padding: 10px;
    margin-top: 10px;
    font-weight: 600;
}
.nav-social {
    margin: 2px auto;
    padding: 20px;
    text-align: center;
}
.nav-social a {
   color: rgba(0, 0, 0, 0.534);
   font-size: 14px;
   padding: 10px;
   background-color: white;
   border-radius: 50%;
}
/* ----------------------------------- */

/* Second Section Styles */
.pages-dots {
   width: 10%;
   text-align: center;
   display: inline-block;
}
.dots {
    width: 10px;
    height: 10px;
    margin: 3px;
    border-radius: 50%;
    display: inline-block;
}
.black {
    background-color: rgba(0, 0, 0, 0.63);
}
.grey {
    background-color: rgba(29, 28, 28, 0.445);
}
.light-grey {
    background-color: rgba(51, 49, 49, 0.424);
}

/* Our Services Icon */

.teal {
    background-color: teal;
}
.orange {
    background-color: rgb(228, 136, 15);
}
.blue {
    background-color: rgb(35, 119, 228);
}
.green {
    background-color: rgb(87, 145, 12);
}

/*  Our Service Icons / Our Portfolio Images / Our Team Images */
.col {
    width: 22%;
    height: 200px;
    margin: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col a {
    color: white;
    font-size: 30px;
}
.col img {
    width: 100%;
}
.wrap {
    flex-wrap: wrap;
}
.team-image {
    border-radius: 50%;
}

/*  TEAM SECTION ARTICLE STYLES */
.skill-bar {
    width: 30%;
}
.percentage-bar {
    width: 250px;
    color: white;
    background-color: grey;
    margin-bottom: 10px;
}
.text-orange {
    color: rgba(241, 144, 32, 0.911);
}
.percentage-bar .red {
    background-color: rgb(231, 63, 21);
    padding: 5px;
}
.ninety {
    width: 90%;
}
.seventy {
    width: 70%;
}
.eighty {
    width: 80%;
}
/* OUR CONTACT STYLES*/
#gmap_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.mapouter {
    z-index: -1;
}
.form {
    width: 40%;
}
.form-btn {
    background-color: red;
    color: white;
    border: 0;
    padding: 8px;
    width: 100%;
    font-weight: 600;
}
textarea {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid #cecaca;
    background-color: #f8f8f8;
    font-size: 14px;
    margin-bottom: 10px;
}
.textarea-message {
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    border: 1px solid #cecaca;
    background-color: #f8f8f8;
    font-size: 14px;
}

/*  Footer Styles */

.footer {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 12px;
}
.footer a {
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
}


/*  GENERAL STYLES */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    max-width: 80%;
    margin: 100px auto;
}
.wrapper-header {
    text-align: center;
    margin-bottom: 40px;
}
.wrapper-header h3 {
    color: rgba(0, 0, 0, 0.767);
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.wrapper-header h4 {
    color: rgba(0, 0, 0, 0.548);
    font-size: 14px;
}
.flex-wrapper {
    width: 100%;
    margin: 30px auto;
 }
 .article-heading {
    font-size: 20px;
    text-align: center;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.781);
}
.article-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.39);
}
.article{
    width: 70%;
    margin-right: 10px;
    line-height: 1.5;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.733);
}
.article-container {
    align-items: flex-start;
}

/* **************************************************************** */

/*  GALLERY PAGE STYLES */

.sidebar {
    background-color: tomato;
    width: 25%;
    margin: 0;
    padding: 8px;
    position: fixed;
    top: 0;
    bottom: 0;
}
.sidebar-container {
    width: 90%;
    margin: 10px auto;
    line-height: 1;
    background-color: tomato;
}
.sidebar-container a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}
.sidebar-span {
    font-size: 25px;
    vertical-align: middle;
}
.home-anchor {
   border: 1px solid white;
   padding: 5px;
   border-radius: 5px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}       
.sidebar-content {
    margin-top: 90%;
    padding: 10px;
}
.sidebar-content h1 {
    color: white;
    font-size: 26px;
    margin-bottom: 10px;
}
.sidebar-content h2{
    line-height: 1.5;
    margin-bottom: 20px;
}
.sidebar-social {
    margin-top: 20px;
}
.sidebar-social a {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.534);
    font-size: 20px;
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}
/*  GALLERY PAGE MAIN SECTION STYLES */
.gallery-main {
    text-align: center;
    color: black;
    width: 70%;
    margin-left: 28%;
}
.gallery-main h1 {
   font-size: 28px;
   font-weight: 800;
   margin: 20px auto;
}
.gallery-page {
    align-items: flex-start;
}
.gallery-wrapper{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: flex-start;
}
.gallery-col {
    width: 47%;
    margin: 1.5%;
}
.gallery-col img {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid black;
}
/* ******************************************** */